*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     background-color: rgb(0, 0, 0);
     width: 100vw;
     height: 100vh;
     display: grid;
     place-items: center;

}
.container{
     background-color: white;
     width: 500px;
     padding: 10px;
}
.container h3 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
}
.formgroup{
     color: #333;
     margin-bottom: 10px;
     padding-bottom: 20px;
}
.formgroup label{
     display: block;
     margin-bottom: 5px;
}
.formgroup input{
     border: 2px solid #f0f0f0;
     width: 100%;
     padding: 10px;
     font-size: 16px;
     outline: none;
}
form {
    padding: 30px 40px;
}
form button {
    width: 100%;
    padding: 10px;
    background-color:blue ;
    color: white;
    border: 2px solid white;
}

@media (max-width:400px) {
    .container{
        background-color: rgb(255, 255, 255);
        width: 250px;
    }

    body {
        display: hidden;
         width: 250px;
         height:300px ;
         background-color: rgb(255, 255, 255);
    }
}